services:
  db-server:
    build:
      context: ./siem
      dockerfile: ./Dockerfile
    container_name: siem-db-server
    environment:
      - PORT=8080
    volumes:
      - db-data:/app/data
    expose:
      - "8080"

  siem-ui:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: siem-ui
    environment:
      CPPDB_ADDR: db-server:8080
      CPPDB_RAW: "true"
      SIEM_HTTP_ADDR: 0.0.0.0:8082
      SIEM_USER: admin
      SIEM_PASS: admin123
    depends_on:
      - db-server
    expose:
      - "8082"

  nginx:
    image: nginx:alpine
    depends_on:
      - siem-ui
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro


volumes:
  db-data:
    driver: local
