services:
  db-server:
    build: 
      context: ./siem
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - db-data:/app/data

  siem-ui:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8088:8088"
    environment:
      CPPDB_ADDR: db-server:8080
      SIEM_HTTP_ADDR: 0.0.0.0:8088
      SIEM_USER: admin
      SIEM_PASS: admin123
    depends_on:
      - db-server

volumes:
  db-data:
